<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button>P</ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta" />
      </ion-thumbnail>
      <ion-label>
        Pekan fish&chips
        <p>Herkkuja englannista</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu"
    >View Menu</ion-button
  >

  <ion-button
    expand="full"
    fill="solid"
    color="secondary"
    routerLink="/reservation"
    >Make a Reservation</ion-button
  >

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta" />
      </ion-thumbnail>
      <ion-label>
        Kebab Pizza
        <p>Suomen paras kebabsdfsdfsdfsfsdfds</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu"
    >View Menu</ion-button
  >

  <ion-button
    expand="full"
    fill="solid"
    color="secondary"
    routerLink="/reservation"
    >Make a Reservation</ion-button
  >

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta" />
      </ion-thumbnail>
      <ion-label>
        Jounin keitto lounas
        <p>Jo vuodesta 1998 laatua</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu"
    >View Menu</ion-button
  >

  <ion-button
    expand="full"
    fill="solid"
    color="secondary"
    routerLink="/reservation"
    >Make a Reservation</ion-button
  >
</ion-content>
