ion-list{
    padding: 30px;
}


ion-thumbnail {
    width: 100px;
    height: 100px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    position: relative;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: blue;
  }
  
  .hero h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
ion-label p {
    color: blue;
    font-size: 15px;
}

ion-label {
    font-size: 20px !important;
}

ion-title {
    text-align: center;
    position: relative;
}

.star {
    color:gold;
    font-size: 20px;
    
}

ion-button {
    padding: 10px;
    font-size: larger;
}

