<ion-header>
  <ion-toolbar>
    <ion-title>Welcome back</ion-title>
  </ion-toolbar>
</ion-header>

<div class="hero">
  <h1>Restaurants</h1>
  <h2>Come Hungry, Leave Happy</h2>
</div>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/kalasipsi.jpeg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
      Autentic Fish&Chips
      <p>Feels like you are in UK</p>
    </ion-label>
    <ion-button fill="solid" color="primary" routerLink="/menu">Menu</ion-button>
     <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star-outline"></ion-icon>
    <ion-icon class="star" name="star-outline"></ion-icon> 
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/keittoa.jpeg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
      Jouni's soup corner
      <p>Mouth watering soup since 1998</p>
    </ion-label>
    <ion-button fill="solid" color="primary" routerLink="/menu">Menu</ion-button>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon> 
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/pizzza.jpeg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
     Antalanya Pizzeria
      <p>Best Pizza in Finland!</p>
    </ion-label>
    <ion-button fill="solid" color="primary" routerLink="/menu">Menu</ion-button>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star"></ion-icon>
    <ion-icon class="star" name="star-outline"></ion-icon> 
  </ion-item>
</ion-list>
