<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title> Settings </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-toggle
        color="tertiary"
        aria-label="Tertiary toggle"
        justify="space-between"
        >Dark Mode</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        color="tertiary"
        aria-label="Tertiary toggle"
        justify="space-between"
        >Big Font</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        color="tertiary"
        aria-label="Tertiary toggle"
        justify="space-between"
        >Colorblind mode</ion-toggle
      >
    </ion-item>
  </ion-list>
</ion-content>
