<ion-content [fullscreen]="true" color="tertiary">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create user</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            label="Email"
            placeholder="example@fin.com"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            placeholder=""
            type="password"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Password again"
            placeholder=""
            type="password"
          ></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-button
          color="tertiary"
          shape="round"
          size="full"
          [routerLink]="['/home']"
          >Submit</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
