<ion-header>
  <ion-toolbar>
    <ion-title>Welcome back "login name"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Hero Section -->
  <div class="hero">
   <h1>Restaurants</h1>
    <h2>Come Hungry, Leave Happy</h2>
  </div>

  
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
      </ion-thumbnail>
      <ion-label>
        Pekan fish&chips
        <p>Herkkuja englannista</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>
  
  <ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>
  
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
      </ion-thumbnail>
      <ion-label>
        Kebab Pizza 
        <p>Suomen paras kebab</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>
  
  <ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>
  
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
      </ion-thumbnail>
      <ion-label>
        Jounin keitto lounas
        <p>Jo vuodesta 1998 laatua</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>

  <ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>
  
  

</ion-content>