<ion-header>
  <ion-toolbar>
    <ion-title>Welcome back "login name"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>

<!-- Hero Section -->
<div class="hero">
  <h1>Restaurants</h1>
  <h2>Come Hungry, Leave Happy</h2>
</div>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
      Pekan fish&chips
      <p>Herkkuja englannista</p>
    </ion-label>
  </ion-item>

</ion-list>
<ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>

<ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
      Kebab Pizza
      <p>Suomen paras kebab</p>
    </ion-label>
  </ion-item>

</ion-list>
<ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>

<ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>

<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/dish1.jpg" alt="Kuva ravintolasta">
    </ion-thumbnail>
    <ion-label>
      Jounin keitto lounas
      <p>Jo vuodesta 1998 laatua</p>
    </ion-label>
  </ion-item>

</ion-list>
<ion-button expand="full" fill="solid" color="primary" routerLink="/menu">View Menu</ion-button>

<ion-button expand="full" fill="solid" color="secondary" routerLink="/reservation">Make a Reservation</ion-button>